.trustedBy{
    background-color: #fafafa;
    height: 100px;
    display: flex;
    justify-content: center;
    .container{
        width: 760px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: black;
        font-weight: bolder;

        img{
            height: 50px;
            object-fit: contain;
        }
    }
}