.item {
  
    animation: pop-up 0.5s forwards;
    animation-delay: 1s;
  }
  @keyframes pop-up {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  

  